@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: 'Rubik', sans-serif;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  p {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
  }

  .blog-description {
    @apply text-black mt-2 mb-3 overflow-hidden line-clamp-2;
  }

  .button {
    @apply px-5 bg-third text-white rounded-full py-2;
  }
  .input {
    @apply bg-gray-100 py-2 pl-2  h-[40px] w-full rounded-lg flex placeholder:items-center;
  }
}

.footer-links {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
}

.action-bar {
  display: none;
  top: 13%;
  right: -23px;
}

.product-images:hover .action-bar {
  right: 8px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.product-images:hover > img:nth-child(2) {
  display: block;
}

.product-images:hover > img:nth-child(1) {
  display: none;
}

.product-images > img:nth-child(2) {
  display: none;
}

.product-images > img {
  width: 270px;
  height: 270px;
}

.main-product-image img {
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}
